
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 /* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Outfit", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

 
 /* Apply the Handlee font to all headings */
 /* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}


h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}



/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color)
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}


 
 /* Make the navbar sticky */
 .navbar {
     position: sticky;
     top: 0;
     z-index: 1000;
     background-color: #002639;
 }

 /*Navbar styles*/
.navbar-nav {
    display: flex;
    gap: 1rem;
}
 .navbar {
     background-color: #006667;
     color: white;
     padding: 0.5rem 1rem;
     font-size: 1.2rem;
     font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

    .navbar a {
        color: white;
    }

.navbar-custom .nav-link,
.navbar-custom .nav-link.active {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #f8f9fa;


.navbar-toggler-icon {
    color: white;
}


 /* Style the hero section */


 #hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: right;
    color: white;
    padding-left: 30%;
}

#cover-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#hero > h1 {
    font-size: 3rem;
    font-family: var(--secondary-font);
    margin-left: 20px;
}